version: '2'
services:
    # namenode:
    #   image: apache/hadoop:3
    #   hostname: namenode
    #   command: ["hdfs", "namenode"]
    #   ports:
    #     - 9870:9870
    #     - 9000:9000
    #   env_file:
    #     - ./config
    #   environment:
    #       ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name" 
    # datanode1:
    #   image: apache/hadoop:3
    #   command: ["hdfs", "datanode"]
    #   env_file:
    #     - ./config
    # datanode2:
    #   image: apache/hadoop:3
    #   command: ["hdfs", "datanode"]
    #   env_file:
    #     - ./config
    # resourcemanager:
    #   image: apache/hadoop:3
    #   hostname: resourcemanager
    #   command: ["yarn", "resourcemanager"]
    #   ports:
    #      - 8088:8088
    #   env_file:
    #     - ./config
    #   volumes:
    #     - ./test.sh:/opt/test.sh
    # nodemanager:
    #   image: apache/hadoop:3
    #   command: ["yarn", "nodemanager"]
    #   env_file:
    #     - ./config
    zookeeper:
      image: wurstmeister/zookeeper
      container_name: zookeeper
      ports:
        - "2181:2181"
    kafka:
      image: wurstmeister/kafka
      container_name: kafka
      ports:
        - "9092:9092"
      environment:
        KAFKA_ADVERTISED_HOST_NAME: localhost
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
